@charset "utf-8";
body img {
    background-image: url(assets/Home1.png);
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 100px;
}
article {
    background-image: url(assets/pic.png);
    height: 500px;

}
.header {

}
