body {
    background-color: #598908;
}
.article2 {
    height: 1000px;
    width: 1300px;
    background-color: #E9249D;
    text-align: left;
    font-style: oblique;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.article2 img {
    float: left;
    clear: left;
}
