@charset "utf-8";
/* CSS Document */

body {
    background-color: #C0BCE0;
    font-size: large;
    font-family: MingLiU-ExtB, "Microsoft Yi Baiti", Algerian, "Arial Black", "Arial Nova Light";
}
#coaster image {
    background-position: center center;
}
body article {
    float: right;
}
body aside {
    height: 500px;
}
.section {
    height: 500px;
    width: 500px;
    float: right;
}
body div {
    float: right;
}


article a div {
    text-decoration: none;
    font-size: x-large;
    font-family: "Monotype Corsiva", "MS Serif", "MS Reference Sans Serif";
    font-style: italic;
}
body aside {
}





body header img {
    background-position: center center;
    background-size: contain;
}
.navigation {
    text-align: center;
    font-size: 55px;
    clear: right;
    font-style: oblique;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
