@charset "utf-8";

}
.header {
    background-image: url(../assets/contact%20page.jpg);
    width: 1500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.footer {
    text-align: center;
}





body {
    color: #3A38E8;
    background-color: #1ACF94;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}
body form {
    color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: oblique;
    font-size: large;
}

.nav {
    color: #FFFFFF;
    font-size: x-large;
    font-style: italic;
    font-variant: normal;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial Nova Light";
    display: inline-block;
    background-repeat: no-repeat;
}
.article {
}
